<div class="container mt-3">
  <form action="/personas" method="post" class="row g-3">
    <input type="text" placeholder="Ingrese Nombre" name="nombre"  class="form-control">
    <input type="text" placeholder="Ingrese Apellido" name="apellido"  class="form-control">
    <input type="number" placeholder="Ingrese Edad" name="edad"  class="form-control">
    <input type="submit" value="enviar" class="btn btn-primary mb-3">
  </form>
</div>
